        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            top: 20%;
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 10px; /* Add margin between the containers */
        }

        .outer-circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            background-color: lightblue;
            border-radius: 50%;
            border: 2px solid gray; /* Add border */
        }

        .inner-circle {
            position: absolute;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-color: gray;
            border-radius: 50%;
            border: 2px solid black; /* Add border */
        }

        .text {
            position: absolute;
            top: 100%; /* Position it just below the outer circle */
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-top: 10px; /* Add some space between outer circle and text */
        }

        /* New styles for the avatar list */
        .avatar-list-container {
            position: absolute;
            top: 0;
            right: 0;
            height: 98vh;
            width: 200px;
            background-color: rgb(235,235,225);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; /* Align items to the start of the container */
            padding-top: 20px; /* Add padding to create space for the text */
        }

        .avatar-list-header {
            background-color: rgb(215,214,189); /* Slightly darker gray */
            width: 100%; /* Full width of the container */
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

.avatar {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer */
}

.avatar:hover {
    border: 2px solid yellow; /* Add yellow border on hover */
}

.avatar.selected {
    border: 2px solid red; /* Add yellow border to the selected avatar */
}

        .param-list-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 98vh;
            width: 200px;
            background-color: rgb(245,245,245);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; /* Align items to the start of the container */
            padding-top: 20px; /* Add padding to create space for the text */
        }

        .param-list-header {
            background-color: rgb(182,193,208);
            width: 100%; /* Full width of the container */
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

        .param {
            margin: 10px 0;
            padding: 5px;
            background-color: white;
            border-radius: 5px;
        }

.midbot {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 5%;
}


.button-container {
    position: absolute;
/*     width: 80%; /* Adjust as needed */ 
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr
      0fr 0fr 0fr 0fr 0fr; /* Two columns */
    grid-template-rows: repeat(1, 50px); /* 5 rows */
    justify-content: center;
    align-items: center;
/*     margin: 0; */
}
.left {
    top: 30%;
    left: 30%;
}
  
.left-up {
    top: 10%;
    left: 40%;
}
.right {
    top: 30%;
    right: 30%;
}
.right-up {
    top: 10%;
    right: 36%;
}  
.middle {
    top: 40%;
    left: 45%;
}
.button-arrow {
    width: 5vh; 
    height: 5vh;
    background-color: white;
    border: 2px solid gray;
/*     display: flex; */
    justify-content: center;
    text-align-last: center;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    top:50%;
}
.button-arrow-wider {
    width: 80px;
    height: 40px;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.button-alph {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.line {
    width: 0.1vh;
    height: 4vh;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}

.rollLine {
    width: 7vh;
    height: 2vh;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.button-arrow p {
    position: absolute; /* Position the text absolutely within the element */
    bottom: -13vh; /* Position the text at the bottom */
    left: 2vh;
}

.wraper-container{
  position: relative;
  width: 100vh;
  height: 90vh;
  justify-content: center;
}
.wider-button{
  width: 60px;
}
/* Apply specific styles for buttons in different rows */
#b1 {
    grid-column: 1; 
    grid-row: 1;
}
.grayer{
  background-color: black;
}