         

.slider-container {
            margin-top: 10px;
         }
         .slider-container label {
            display: inline-block;
            width: 120px;
            text-align: right;
            margin-right: 10px;
         }
         .slider {
            width: 200px;
         }
        /* New styles for the avatar list */
        .avatar-list-container {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 200px;
            background-color: rgb(235,235,225);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; /* Align items to the start of the container */
            padding-top: 20px; /* Add padding to create space for the text */
        }

        .avatar-list-header {
            background-color: rgb(215,214,189); /* Slightly darker gray */
            width: 100%; /* Full width of the container */
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

.avatar {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer */
}

.avatar:hover {
    border: 2px solid yellow; /* Add yellow border on hover */
}

.avatar.selected {
    border: 2px solid red; /* Add yellow border to the selected avatar */
}

        .param-list-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 200px;
            background-color: rgb(245,245,245);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; /* Align items to the start of the container */
            padding-top: 20px; /* Add padding to create space for the text */
        }

        .param-list-header {
            background-color: rgb(182,193,208);
            width: 100%; /* Full width of the container */
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

        .param {
            margin: 10px 0;
            padding: 5px;
            background-color: white;
            border-radius: 5px;
        }
.hidInfo{
  position: absolute;
  text-align: center;
  top: 30%;
  left: 40%;
  right: 40%;
}
.midbot {
    position: absolute;
    padding: 10px;
    bottom: 10%;
    left: 5%;
}